@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    /* colors */

    --bg-main: #373C45;
    --highlight: #1C5D99;
    --hl-overlay: #FDFDFD;
    --primary-c: #BEBFC1;

    /* font-sizes */

    --font-s-h1: 3.5rem;
    --font-s-h2: 2.5rem;
    --font-s-p: 1.8rem;
    --font-s-span: 1.4rem;
    --font-s-sm: 1rem;

    /* font-families */

    --font-fam-p: "Poppins", sans-serif;
    --font-fam-s: "Itim", serif;

}

h1, h2 {
    font-family: var(--font-fam-p);
    font-weight: 500;
}

h1 {
    font-size: var(--font-s-h1);
}

h2 {
    font-size: var(--font-s-h2);
}

p, span {
    font-family: var(--font-fam-s);
}

p {
    font-size: var(--font-s-p);
}

span {
    font-size: var(--font-s-span);
}

.sm {
    font-size: var(--font-s-sm);
}

.app-main-sec {
    /* height: 100vh; */
    background: var(--bg-main);
    color: var(--primary-c);
}